.board {
  float: right;
}

.off {
  display: inline-block;
  background-color: grey;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
.on {
  display: inline-block;
  background-color: red;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
.hit {
  display: inline-block;
  background-color: purple;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
.miss {
  display: inline-block;
  background-color: blue;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}